.os-dpreview {
    position:absolute;
    padding-top:-100px;
    width:200px;
    height:200px;
}
.os-ring {
    background-image: url(/img/openScanMiniRing.png);
    background-size: contain;
    transform: rotate(45deg);
    position:absolute;
    width:200px;
    height:200px;
    margin-top:10px;
}

.os-ring-preview {
    position:absolute;
    background-image: url(/img/openScanMiniRingPreview.png);
    background-size: contain;
    transform: rotate(45deg);
    width:200px;
    height:200px;
    margin-top:10px;
}

.os-base {
    position:absolute;
    background-image: url(/img/openScanMiniBase.png);
    background-size: contain;
    width:200px;
    height:200px;
    margin-top:10px;
}

    .setting {
        margin-bottom: 20px;
    }

    .roundbox {
        border: solid 1px;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .slider {
        margin-left: 15px;
        margin-right: 15px;
    }

    .previewImage, .imgareaselect-outer {
        width:100%;
        border-radius:10px;
    }


    h1 {
        color: #666;
        font-size:20px;
        xfont-size: calc(0.8rem * var(--heading-ratio) * var(--heading-ratio) * var(--heading-ratio) * var(--heading-ratio));
    }

    h2 {
        color: #666;
        font-size:16px;
        xfont-size: calc(0.3rem * var(--heading-ratio) * var(--heading-ratio) * var(--heading-ratio) * var(--heading-ratio));
    }


.content {
    display:none;
}
#control {
    display:block;
}

.thumbnail-box {
            border-radius: 10px;
    float:left; border: solid 1px #000;margin:10px;width:200px;height:225px;
}
.thumbnail-box img {
            border-radius: 10px;
}